::selection{
	background : orange;
	color: white;
}

body{
  background: #fff;
  color: black;
  font-family: 'Comic Sans MS',verdana;
  font-size: 1.7rem;
}
.thin{

}
.header{
    

    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #e0e0e0;
    font-family: 'Comic Sans MS',verdana;
    font-weight: 500;
    font-size: 1.7rem;
    z-index: 100;
    height: 65px;
}
.nav-ele{
    display: inline-block;
}
.left-part{
    position: relative;
    font-size: 3rem;
    top: 10px;
    left: 20px;
    font-family: 'Comic Sans MS',verdana;
    font-weight: 600;
}
.thin{
    font-family: 'Comic Sans MS',verdana;
    font-weight: 300;
}
.right-part{
    float: right;
    position: relative;
    top: 3px;
}

.right-part a{
    font-family: 'Comic Sans MS',verdana;
    position: relative;
    font-weight: 500;
    top: 15px;
    right: 15px;
    color: black;
    text-decoration: none;
    padding: 10px;
    padding-bottom: 23px;
    margin: 5px;
    z-index: 1;
}
.right-part a:after{
    position: absolute;
    content: "";
    width: 0;
    height: 1px;
    top: 100%;
    left: 50%;
    right: 50%;
    background: orange;
    opacity: 0;
    z-index: -1;
    transition: .3s;
    border-radius: 10px;
}
.right-part a:hover{
   text-decoration: none;
}
.right-part a:hover:after{
    width: 100%;
    left: 0;right: 0;
    opacity: 1;
}

.leaderboard{
  position: relative;
  top: 120px;
  font-family: 'Comic Sans MS',verdana;
  font-weight: 100;

}
.text-heading{
  font-size: 2rem;
}
.text-left{
  padding: 10px;
}
th
{
  padding-bottom:20px;
  color: white;
  padding: 10px;
  font-size: 1.8rem;
  font-family: 'Comic Sans MS',verdana;
  background-color: orange;
}
table{
  width: 50%;
}
tr{
  text-align: center;
}
.orange{
  color: orange;
  font-family: 'Comic Sans MS',verdana;
}
